rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth != null;
    }

    function verifiedEmail() {
      return signedIn()
        && request.auth.token.email_verified == true;
    }

    match /users/{uid} {
      allow read, write: if verifiedEmail() && request.auth.uid == uid;
    }

    match /{document=**} {
      allow read, write: if verifiedEmail();
    }
  }
}
